@reference './global.css';

.pokemon-list {
    @apply flex items-stretch flex-wrap justify-between gap-[32px] w-[80%] max-w-[900px] mx-auto mt-[65px] mb-[65px];
}

.pokemon-card {
    @apply relative md:w-[calc(calc(100%/3)-32px)] w-full flex flex-col flex-grow cursor-pointer transition-all;
}

.pokemon-card:hover {
    @apply shadow-2xl;    
}

.pokemon-card:hover .pokemon-card__image {
    @apply scale-125;        
}

.pokemon-card .bg-card {
    @apply py-3;
}

.pokemon-card__image {
    @apply mx-auto w-[100px] h-[100px] transition-all;
}

.pokemon-card__number {
    @apply absolute -top-2 left-[12px] text-xs;
}

.pokemon-card__name {
    @apply text-md leading-normal block text-center font-semibold;
}

.pokemon-info__title {
    @apply text-[48px] text-center leading-normal block font-bold mb-0;
}

.pokemon-info__number {
    @apply block text-sm leading-normal;
}

.pokemon-info__types {
    @apply my-4 gap-3;
}

.pokemon-info__badge {
    @apply text-white leading-normal;
}

.pokemon-info__image {
    @apply mx-auto w-[200px] h-[200px] sm:w-[280px] sm:h-[280px] mt-4 transition-all;
}

.pokemon-info__content {
    @apply -mt-[100px] pt-[80px] w-[calc(100%-40px)] mx-auto rounded-b-none;
}

.pokemon-info__section--header {
    @apply text-md leading-normal font-semibold;
}

.pokemon-info__attribute {
    @apply font-semibold;
}

.pokemon-info__about--header {
    @apply text-[#666666] text-[12px];
}

.pokemon-info__stats {
    @apply mt-8;
}

.pokemon-info__stats--wrapper {
    @apply w-full sm:w-[30%] mx-auto;
}

.pokemon-info__stats--item {
    @apply mb-2;
}

.pokemon-info__stats--item span {
    @apply text-[#666666] text-[12px] font-semibold mb-3 block;
}